.del {
  background: transparent;
  color: #cccccc;
  border: none;
  cursor: pointer;
  margin-left: 20px;
}
.todo {
  background: #ffffff;
  padding: 24px;
}
.is-complete {
  text-decoration: line-through;
  color: #777777;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-left-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
input[type="checkbox"] {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}